<!DOCTYPE html>
<html lang="en">
    <head>
        
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Drod2Drop - Login Admin</title>
        <link href="css/styles.css" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="Plugin/sweetalert/sweetalert.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
    </head>
    <body class="bg-primary">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-5">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Login Admin</h3></div>
                                    <div class="card-body">
                                        <form class="needs-validation">
                                            <div class="form-group">
                                                <label class="small mb-1" for="inputEmailAddress">Email</label>
                                                <input class="form-control py-4" id="inputEmailAddress" type="email" placeholder="Email" required/>
                                            </div>
                                            <div class="form-group">
                                                <label class="small mb-1" for="inputPassword">Password</label>
                                                <input class="form-control py-4" id="inputPassword" type="password" placeholder="Password" required/>
                                            </div>
                                            <!--div class="form-group">
                                                <div class="custom-control custom-checkbox"><input class="custom-control-input" id="rememberPasswordCheck" type="checkbox" /><label class="custom-control-label" for="rememberPasswordCheck">Remember password</label></div>
                                            </div-->
                                            <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                                <a class="small" href="/password">Olvidó su Contraseña?</a>
                                                <a class="btn btn-primary" href="javascript:login();">Login</a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <div id="layoutAuthentication_footer">
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Drop2Drop 2019</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.rawgit.com/PascaleBeier/bootstrap-validate/v2.2.0/dist/bootstrap-validate.js" ></script>
        <script src="Plugin/sweetalert/sweetalert.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.js"></script>
        <script src="js/scripts.js"></script>
        <script src="js/main.js"></script>
        <script>          
            function ready()
            {
                $("#inputEmailAddress").val('');
                $("#inputPassword").val('');
                $('.needs-validation').validate();
            }

            function login()
            {
                if($("#inputEmailAddress").val()!='' && $("#inputPassword").val()!='')
                {
                    if($('.needs-validation').valid())
                    {
                        swal({
                            title: "CONFIRMAR",
                            text: "Esta seguro de realizar la operación?",
                            type: "warning",
                            showCancelButton: true,
                            confirmButtonColor: "#2A67BD",
                            confirmButtonText: "Confirmar",
                            cancelButtonText: "Cancelar",
                            closeOnConfirm: false,
                            closeOnCancel: false,
                            showLoaderOnConfirm: true
                        },
                        function(isConfirm)
                        {
                            if(isConfirm)
                            {
                                $.ajax({
                                    url: '/api/Autenticar/sigin',
                                    type: 'post',
                                    headers:{'token':$("#token").val()},
                                    data: {
                                        email:$("#inputEmailAddress").val(),
                                        password:$("#inputPassword").val(),
                                        idRol:'Admin',
                                    },
                                })
                                .done(function(resp)
                                {
                                    if( resp.ResponseCode)
                                    {
                                        //modal_success();
                                        location='/listAdmins';
                                    }else
                                    {
                                        modal_error(resp.ResponseMessage);
                                    }
                                })
                                .fail(function(jqXHR, textStatus, errorThrow){
                                    if(jqXHR.status===500)
                                    {
                                        modal_error("ERROR INTERNO DEL SERVIDOR");
                                    }                 
                                    if(jqXHR.status===401)
                                    {
                                        ver_logout();
                                    }
                                    if(jqXHR.status===404)
                                    {
                                        modal_error("RUTA NO ENCONTRADA (404 NOT FOUND)");
                                    }
                                });
                            }
                            else
                            {
                                modal_close();
                            }
                        });  
                    }
                }
                else
                {
                    modal_warning('Debe ingresar su correo y contraseña');
                }             
            }
            ready();
        </script>
    </body>
</html>
