.newElement
{
  height: 50px;
  width: 50px;
  border-radius: 30px;
  background-color:limegreen;
  color: ghostwhite;
  font-size: 24px;
  border-width: 0;
  box-shadow:2px 2px lightgray;
}
.newElement:hover
{
    background-color: darkgreen;
}
html,body {
  height: 100%;
}
@media screen and (min-width:640px) {
  .newBtn
  {
    position: fixed;
    top:85%;
    left: 95%;
  }
}
@media screen and (max-width:639px) {
  .newBtn
  {
    position: fixed;
    top:90%;
    left: 85%;
  }
}  