<div class="page" id='container'>
	<div class="page-header">
		<h1 class="page-title">Administradores</h1>
	</div>
	<div class="page-content container-fluid">
		<div class="panel" id='panel_Color'>
			<div class="panel-body">
        <br>
        <div class="tab-content">
          <div id="Color" class="tab-pane active">
        <table id='Color_list' width="100%" class="table is-indent" data-plugin="animateList" data-animate="fade" data-child="tr" data-selectable="selectable">
        <thead>
          <tr>
            <th><div align="center">Nombre del Color</div></th>
            <th style='width:25%;'><div align="center">Codigo</div></th>
            <th style='width:25%;'><div align="center">Estatus</div></th>
            <th width="1%"></th>
          </tr>
        </thead>
        <tbody id="bodytable">

        </tbody>
        </table>
          </div>                	
        </div>
			</div>
		</div>	
  </div>
  <div class="newBtn" style="">
    <button class="newElement">
      <i class="icon fas fa-plus"></i>
    </button>
  </div>
  <!--boton-->
  <!--div class="site-action" data-plugin="actionBtn" id='BtnColor'>
      <button type="button" id="actionBtn" class="site-action-toggle btn-raised btn btn-success btn-floating btn_new" onclick="modalColor(true)" style="">
          <i class="front-icon wb-plus animation-scale-up" aria-hidden="true"></i>
          <i class="back-icon wb-close animation-scale-up" aria-hidden="true"></i>
      </button>
      <div class="site-action-buttons">
          <button type="button" data-action="trash" class="btn-raised btn btn-success btn-floating animation-slide-bottom">
              <i class="icon wb-trash" aria-hidden="true"></i>
          </button>
          <button type="button" data-action="folder" class="btn-raised btn btn-success btn-floating animation-slide-bottom">
              <i class="icon wb-folder" aria-hidden="true"></i>
          </button>
      </div>
  </div-->	
  <!--modal-->
  <div class="modal fade" id="newColor" aria-hidden="false" aria-labelledby="exampleFormModalLabel" role="dialog" tabindex="-1" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog modal-lg modal-content ">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="cTitle"></h4>
              </div>
              <div class="modal-body">
                  <form id='upFormColor' class="form-horizontal fv-form fv-form-bootstrap4" autocomplete="off" action="javascript:gestionColor()">
                      <div class="summary-errors alert alert-danger alert-dismissible">
                        <button type="button" class="close" aria-label="Close" data-dismiss="alert">
                          <span aria-hidden="true">×</span>
                        </button>
                        <p>Lista de errores: </p>
                        <ul></ul>
                      </div>
                      <div class="row">
                          <div class="col-lg-12 col-sm-12 col-md-12 col- form-group">
                            <input id='idColor' style='display:none;'>
                            <input required="" type="text" class="form-control" name="onlychar" id='nameColor' maxlength="50" placeholder="Nombre del Color">
                          </div>    
                          <div class="col-lg-12 col-sm-12 col-md-12 col- form-group">
                            <input required="" type="text" class="form-control" name="universal" id='codeColor' maxlength="50" placeholder="Codigo del Color">
                          </div>                      
                          <div class="col-lg-12 col-sm-12 col-md-12 col- form-group">
                            <select name="universal" class="form-control selectpicker" id="statusColor">
                              <option value="1" selected>Activo</option>
                              <option value="0">Inactivo</option>
                            </select>
                          </div>          
                      </div>                                
                  </form>
                  <form id='upCsvColor' class="form-horizontal fv-form fv-form-bootstrap4 invisible" autocomplete="off" action="javascript:sendCsv()">        
                      <div class="row">
                              <div class="col-lg-12">                           
                                  <input type="file" name="csv" id="csv">
                              </div>
                          </div>  
                  </form>
              </div>
          <div class="modal-footer">
              <div class="float-left mr-20" id='divcsvCity'>
                  <input type="checkbox" id='inputBasicOffCity' name="inputiCheckBasicCheckboxes" data-plugin="switchery">
                  <label class="pt-3" for="inputBasicOff">CSV</label>
              </div>
              <button type="button" class="btn btn-primary btn_new" id='btnDataFormCity' onclick="gestionColor()">Guardar</button>
              <button type="button" class="btn btn-primary btn_new invisible" id='btnCsvFormCity' onclick="sendCsv()">Guardar</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          </div>
      </div>
  </div>
</div>
