<html>
    <body>
        <div class="row">
            <h1>Saludos <%=name%></h1>
        </div>
        <div class="row">
            <h2>Su nueva contraseña es <%=pass%></h2>
        </div>
    </body>
</html>